<!DOCTYPE html>
<html lang="en">
<head>
  <title>Click2Payroll - Subscribers!!!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Subscribers List</h2>
  <% if (success) {  %>
  	<p> <%= info %> </p>
  	<table class="table">
    <thead>
      <tr>
      	<th>Sr. No.</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
			<% for(var i=0; i < data.length; i++) { %>
				<tr>
					<td><%= (i+1) %></td>
					<td><%= data[i].email %></td>
				</tr>
			<% } %>
    </tbody>
  </table>
  <% } else { %>
  	<p> <%= info %> </p>
  <% } %>
</div>

</body>
</html>